.card {
  background-color: #fdfdfd;
  border-radius: 20px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-top: 100px;
  width: 600px;
}

.card_content {
  font-family: tangerine;
  padding: 0 20px 20px 20px;
}

.hedgehogs_img {
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.title {
  color: gray;
  color: rgba(0, 0, 0, 0.8);
  font-size: 3em;
  text-align: center;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.description {
  color: gray;
  color: rgba(0, 0, 0, 0.8);
  font-size: 2em;
  text-align: justify;
}

.button {
  margin-left: auto;
  width: 11%;
}

.find_more {
  color: gray;
  color: rgba(0, 0, 0, 0.6);
  font-size: 2em;
  font-style: italic;
}

.find_more:link {
  text-decoration: none;
}